
.app-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

  
  .app-header:hover,
  .app-header.scrolled {
    /* background-color: #141414; */
    background-color: rgba(0, 0, 0, 0);
  }
  
  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    position: relative;
    bottom: -5px;
    width: 100px;
    height: 100%;
    margin-right: 30px;
  }
  
  
  .nav-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #b3b3b3;
  }

  
  .mobile-menu-button {
    display: none;
  }
  
  .mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #141414;
    z-index: 1001;
    transition: right 0.3s ease;
  }
  
  .mobile-nav.open {
    right: 0;
  }
  
  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
  }
  
  .mobile-nav li {
    margin: 20px 0;
  }
  
  .mobile-nav a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px 20px;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
  }

    
  .icon-button {
    background: none;
    border: none !important; 
    font-size: 1.2rem;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
  }
  
  .icon-button:hover {
    opacity: 0.5;
  }

  .language-button-wrapper {
    position: relative;
  }
  
  .language-button-wrapper {
    position: relative;
  }
  
  .language-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  
  .language-icon {
    font-size: 16px;
    color: white;
    transition: opacity 0.3s ease;
  }
  
  .language-text {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .language-text.visible {
    opacity: 1;
  }
  
  .language-icon.hidden {
    opacity: 0;
  }
  
  
  @media (max-width: 1500px) {
    .desktop-nav {
      display: none;
    }
  
    .mobile-menu-button {
      display: block;
    }
  
    .mobile-nav {
      display: block;
    }
  
    .icon-button {
      font-size: 0.75rem;
      margin-left: 10px;
    }
  
    a {
      text-align: left;
      font-size: 1.15rem !important;
    }
  }
  
