.dropdownContainer {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap; /* 모바일에서 줄바꿈을 허용 */

  }
  
  .customSelect {
    min-width: 120px;
    position: relative;
    display: inline-block;
  }
  
  .selectSelected {
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .selectItems {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    border: 1px solid #fff;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    line-height: 24px;
    font-size: 14px;
  }
  
  .selectItems div {
    color: white;
    padding: 3px;
    cursor: pointer;
  }
  
  .selectItems div:hover {
    background-color: #575757;
  }
  
  .selectArrowActive:after {
    content: "\25B2";
    position: absolute;
    right: 10px;
    top: 14px;
  }
  
  .selectSelected:after {
    content: "\25BC";
    position: absolute;
    right: 10px;
    top: 14px;
  }
  
  .selectSelected.selectArrowActive:after {
    content: "\25B2";
  }
  
  .clearOptions {
    min-width: 120px;
    background-color: black;
    color: white;
    padding: 7px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0 !important;
  }
  
  .clearOptions:hover {
    background-color: #333;
  }
  @media (max-width: 1500px) {
    .dropdownContainer {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .customSelect {
      width: 100%;
    }
  
    .selectSelected {
      font-size: 14px;
      padding: 10px;
    }
  
    .selectItems {
      font-size: 12px;
    }
  
    .clearOptions {
      width: 100%;
      font-size: 14px;
      padding: 10px;
    }
  }